body {
    font-family: 'Roboto', sans-serif;
}

#current-word {
    height: 100px;
}


#feedback {
    line-height: 90px;
    text-align: center;
    height: 70px;
}

.green-text {
    color: green;
}

.blue-text {
    color: blue;
}

.red-text {
    color: red;
}

.logo { background: url("/media/logo.svg") no-repeat; }

img {
    height: 250px;
}